@media screen and (max-width: 1199px) {
  .container {
    width: 990px; } }

@media screen and (max-width: 991px) {
  .container {
    width: 700px; }
  .block2__link {
    width: 250px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px; } }

@media screen and (max-width: 767px) {
  .block3__socials {
    margin-bottom: 30px;
    display: block;
    margin-top: 100px; }
  .block3__item {
    width: 280px;
    display: block;
    margin: 0 auto; }
  .footerTop__item {
    width: 100%;
    display: block;
    margin-bottom: 30px; }
    .footerTop__item:last-child {
      margin-bottom: 0; }
  .block1 {
    padding: 30px 0; }
  .blok1__item {
    width: 100%;
    display: block; }
    .blok1__item:last-child {
      margin-bottom: 0; }
  .headBottom {
    padding: 20px 0; }
    .headBottom h1 {
      font-size: 20px;
      line-height: 30px; }
  .headMenuList {
    display: none; }
  .mobMenuBlock {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    cursor: pointer; }
  .container {
    width: 100%; }
  .headMenuList {
    text-align: center; }
    .headMenuList li {
      display: block;
      width: 100%;
      margin-bottom: 10px; }
      .headMenuList li a {
        margin-right: 0; }
  .headLogo, .headMenu {
    display: block;
    width: 100%; }
  .headLogo {
    margin-bottom: 15px; }
    .headLogo img {
      display: block;
      margin: 0 auto; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .headMenuList li a {
    margin-right: 25px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .block3__item {
    width: 49.7%; }
  .headMenuList li a {
    margin-right: 10px;
    font-size: 11px; }
  .blok1__item {
    width: 49%; } }

@media screen and (min-width: 768px) {
  .mobMenuBlock {
    display: none; }
  .headMenuList {
    display: block !important; } }
