<footer>

<div class="footer__top">
    <div class="container">
        <div class="footerTop__item">
            <h3>Location</h3>
            <p>3481 Melrose Place <br> Beverly Hills, CA 90210</p>
        </div>
        <div class="footerTop__item">
            <h3>Share with love</h3>
            <div class="socialLinks">
                <a href="#">
                    <img src="img/fb.png" alt="">
                </a>
                <a href="#">
                    <img src="img/tw.png" alt="">
                </a>
                <a href="#">
                    <img src="img/linkedin.png" alt="">
                </a>
            </div>
        </div>
        <div class="footerTop__item">
            <h3>About Activebox</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
    </div>
</div>
<div class="footer__bottom">
    <div class="container">
        <h4>Copyright © 2015 ActiveBox. All Rights Reserved <br> Made by <span>Kamal Chaneman</span></h4>
    </div>
</div>

</footer>
 