<header>
    <div class="headTop">
			<div class="container">
				<div class="headLogo">
					<a href="#">
						<img src="img/logo.png" alt="">
					</a>
				</div>
				<div class="mobMenuBlock">
					<span class="mobText">Open Mobile Menu</span>
				</div>
				<div class="headMenu">
					<ul class="headMenuList">
						<li><a href="#">Features</a></li>
						<li><a href="#">Works</a></li>
						<li><a href="#">Our Team</a></li>
						<li><a href="#">Testimonals</a></li>
						<li><a href="#">Download</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="headBottom">
			<div class="container">
				<h1>Your Favorite One Page <br> Multi Purpose Template</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna <br> vel scelerisque nisl consectetur et.</p>
				<a href="#">Find out More</a>
			</div>
		</div>
</header>