    <link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="fonts/fonts.css">
	<link rel="stylesheet" href="dist/owl.carousel/dist/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="css/iziModal.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/media.css">