<!--[if lt IE 9]>
    <script src="libs/html5shiv/es5-shim.min.js"></script>
    <script src="libs/html5shiv/html5shiv.min.js"></script>
    <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="libs/respond/respond.min.js"></script>
    <![endif]-->

    <script src="js/jquery-1.11.2.min.js"></script>
    <!-- <script src="js/bootstrap.min.js"></script>
    <script src="dist/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="js/iziModal.min.js"></script> -->
    <script src="js/main.js"></script>