@font-face {
	font-family: 'Roboto Slab';
	src: url('RobotoSlab-Regular.eot');
	src: url('RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
		url('RobotoSlab-Regular.woff2') format('woff2'),
		url('RobotoSlab-Regular.woff') format('woff'),
		url('RobotoSlab-Regular.ttf') format('truetype'),
		url('RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('RobotoSlab-Thin.eot');
	src: url('RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'),
		url('RobotoSlab-Thin.woff2') format('woff2'),
		url('RobotoSlab-Thin.woff') format('woff'),
		url('RobotoSlab-Thin.ttf') format('truetype'),
		url('RobotoSlab-Thin.svg#RobotoSlab-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('RobotoSlab-Light.eot');
	src: url('RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
		url('RobotoSlab-Light.woff2') format('woff2'),
		url('RobotoSlab-Light.woff') format('woff'),
		url('RobotoSlab-Light.ttf') format('truetype'),
		url('RobotoSlab-Light.svg#RobotoSlab-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('RobotoSlab-Bold.eot');
	src: url('RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
		url('RobotoSlab-Bold.woff2') format('woff2'),
		url('RobotoSlab-Bold.woff') format('woff'),
		url('RobotoSlab-Bold.ttf') format('truetype'),
		url('RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}