@mixin rsr ($fontsize){
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-size: $fontsize;
}
@mixin rst ($fontsize){
    font-family: 'Roboto Slab';
    font-weight: 100;
    font-style: italic;
    font-size: $fontsize;
}
@mixin rsl ($fontsize){
    font-family: 'Roboto Slab';
    font-weight: 300;
    font-size: $fontsize;
}
@mixin rsb ($fontsize){
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: $fontsize;
}