@import 'vars';
body {
    @include rsr (14px);
	min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
	position: relative;
	line-height: 1.2em;
	overflow-x: hidden;
    color: #767777;
}
.clear:after {
        content: "&nbsp;";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
        line-height: 0;
}
p,h1,h2,h3,h4,ol,ul{
    margin: 0;
    padding: 0
}
a{
    text-decoration: underline;
    &:active,&:focus,&:hover{
        outline: none;
        text-decoration: none;
    }
}



.container{
    width: 1170px;
    margin:0 auto;
}

img{
    max-width: 100%;
}


header{
    background-image: url('../img/bg1.png');
}
.headTop{
    padding: 35px 0;
}

.headLogo{
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.headMenu{
    display: inline-block;
    vertical-align: top;
    width: 55%;
}

.headMenuList{

    li{
        display: inline-block;
        vertical-align: sub;

        a{
            color: #cbccd3;
            text-decoration: none;
            margin-right: 36px;
            text-transform: uppercase;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            transition: all 1.3s;

            &:hover{
                color: #fff;
            }
        }
    }
    
}

.headBottom{
    color: #fff;
    text-align: center;
    padding: 150px 0;

    h1{
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 65px;
        line-height: 71px;
        margin-bottom: 40px;
    }

    p{
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 75px;
    }

    a{
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Raleway-Semibold', sans-serif;
        background-color: #e84545;
        width: 200px;
        height: 50px;
        display: inline-block;
        font-size: 13px;
        line-height: 50px;
        transition: all 1.3s;

        &:hover{
            background-color: #a13333;
        }
    }
}

.block1{
    padding: 110px 0 30px 0;
}

.blok1__item{
    display: inline-block;
    vertical-align: top;
    width: 33%;
    text-align: center;
    margin-bottom: 50px;

    img{
        display: block;
        margin:0 auto;
        margin-bottom: 30px;
    }

    h3{
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        color: #2d3033;
        font-size: 14px;
        margin-bottom: 25px;
    }

    p{
       font-family: 'Raleway', sans-serif;
       color: #6c7279;
       font-size: 14px;
       margin-bottom: 25px;
    }
}

.block2__hover{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(232, 69, 69, 0.9);
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    transition: all .3s;
    
    h3{
        margin-top: 33%;
        margin-bottom: 10px;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
    }

    p{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
    }
}

.block2__link{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 24.7%;
    &:hover .block2__hover{
        display: block;
    }
}

.footer__top{
    padding: 65px 0;
    background-color: #3a3e64;
}


.footerTop__item{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 32%;

    h3{
        font-family: 'Raleway-Bold', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 20px;
    }
    p{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        color: #9d9fb2;
        line-height: 22.5px;
    }

    .socialLinks{
        a{
            margin-right: 5px;

            &:last-child{
                margin-right: 0;
            }
        }
    }
}

.footer__bottom{
    padding: 25px 0;
    background-color: #313454;
    text-align: center;

    h4{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        color: #9d9fb2;
        line-height: 22.5px;

        span{
            color: #fff;
        }
    }
}

.block3{
    padding-top: 100px;
}
.block3__item{
    display: inline-block;
    vertical-align: top;
    width: 24.4%;
    margin-bottom: 100px;

    p{
        color: #6c7279;
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        height: 21px;
        margin-bottom: 40px;
    }
}

.block3__info{
    padding: 30px 0;

    h3{
        color: #2d3033;
        font-size: 22px;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 15px;
    }

    h4{
        font-family: 'Raleway', sans-serif;
        color: #e84545;
        font-size: 13px;
        text-transform: uppercase;
    }
}

.block3__socials{
    display: inline-block;
    margin-top: 100px;

    a{
        padding: 8px;
        border:1px solid #e8ecee;
        margin-right: 5px;

        &:last-child{
            margin-right: 0;
        }
    }
}